<% layout('layout') -%>

<div class="container">

<div class="row">
  <div class="col-ms-6 col-md-4">
    <img class="img-circle img-resposive img-center" src="<%= user.profile.picture %>" alt="">

    <br />
    <p>Name: <%= user.profile.name %> </p>

    <p>Email: <%= user.profile.email %> </p>

    <p>Address: <%= user.profile.address %> </p>
  </div>
</div>
</div>
